span {
    color:DarkRed
}
p {
  font-size: 20px;
font-family: 'Oswald', sans-serif;
color: #f0f2f1
}

a {
  color:#fb4d08
}

body {
 background:#31a1ad;
 margin: 0;
}

a:hover {
  color: #bee2ee;
}

.my {
  height:150px;
  background-color: blue;
  padding: 25px;
  border: 5px solid pink;
  flex-grow: 1;
  flex-basis: 0;

}

.container {
  display: flex;
  margin: auto;
}

.hero {
  height: 100vh;
  background-image:  URL("test.jpg");
  background-size: cover;
  background-position:center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h1 {
  margin: 0;
}

