
body {
    margin: 0;
    font-family:  'Inter';
    font-weight: normal;
    font-weight: 400;
    box-sizing: border-box;
     font-family: 'Inter', sans-serif;
}

header {
    display: flex;
}

.heder_item {
    flex-grow: 1;
    flex-basis: 0;
}
.heder_title {

font-size:60px;
}

.heder_contecs {
font-size: 10px;
line-height: 24px;
}

.main {
    display: flex;
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    gap: 0px 22px;
 }

.left {

}

.right {

}

.side {
height: 100vh;
flex-grow: 1;
flex-basis:0;
}

.side_text {
    border-radius: 44px;
    background-color: #ccc;
    padding: 20px;
    width: 623px;
    height: 344px;
}

.image {
height: 400px;
background-size: cover;



}

.img_1 {
    background-image: url("img/img1.jpg") ;
}

.img_2 {
    background-image: url("img/img4.jpg");
}

.img_3 {
    background-image: url("img/img2.jpg") ;
}

.img_4 {
    background-image: url("img/img3.jpg");
}